page-home {

  ion-navbar {
  text-align: center;
  }

  a:hover {
  color: CornflowerBlue;
  }

  /* Circle Avatar Styles */

  .circle {
	line-height: 0;		/* remove line-height */
	margin: 5px;
  border: 2px solid rgba(255,255,255,0.4);
	border-radius: 50%;	/* relative value */
	transition: linear 0.25s;
  height: 40px;
  width: 40px;
  }

  .circle img {
	border-radius: 50%;
  }

  .circle:hover {
	transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.8);
  -webkit-transition: ease-out 0.2s;
  }

}
