page-gestion-camera {

  .item.item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: #ff6238;
    text-align: center;
    color: white;
  }

  ion-navbar {
  text-align: center;
  }

}
