page-modal-inscription {

  ion-navbar {
    text-align: center;
  }

  ion-input:focus {
    color: map-get($colors,secondary);
  }

  .item.item-trns {
    	border-color: rgba(0, 0, 0, 0);
    	background-color: rgba(0, 0, 0, 0);
      text-align: center;
      color: color($colors,secondary);

  }

  .label.labelInscription{
    color: color($colors,secondary);
  }


  ion-title {
    text-align: center;
  }

}
