page-connexion {


  ion-navbar {
  text-align: center;
  }

  .label.labelConnexion{
    color: color($colors,secondary);
  }

  .item.item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: color($colors,secondary);

  }




}
