page-page2 {

  ion-navbar {
    text-align: center;
  }

  ion-content{
      background-image: url('../assets/img/background.jpg');
  }

  .item.item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: #32db64;
  }

  a:hover {
    color: CornflowerBlue;
  }

  /* Circle Avatar Styles */

  .circle {
  	line-height: 0;		/* remove line-height */
  	margin: 5px;
    border: 2px solid rgba(255,255,255,0.4);
  	border-radius: 50%;	/* relative value */
  	transition: linear 0.25s;
    height: 40px;
    width: 40px;
  }
  .circle img {
  	border-radius: 50%;	/* relative value for
  				   adjustable image size */
  }
  .circle:hover {
  	transition: ease-out 0.2s;
    border: 2px solid rgba(255,255,255,0.8);
    -webkit-transition: ease-out 0.2s;
  }
  a.circle {
    color: transparent;
  }

}
